@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400&display=swap');
* {
  font-family: "Barlow Condensed";
}
body {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

app-root {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.grid {
  z-index: -1000;
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-gap: 3px;
  position: absolute;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  div {
    background-color: black;
  }
}
