@import "../partials/_containers.scss";
@import "../partials/_buttons.scss";

app-root {
  background-color: transparent;
}

app-login-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

app-login-screen::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1001;
  animation: background-animate 4s ease-in-out infinite;
  background: linear-gradient(#f8dfc8,#fb7200);
}

@keyframes background-animate {
  0% {transform: translateY(-100%)}
  100%{transform: translateY(100%)}
}

input {
  width: 250px;
  height: 50px;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: #f8dfc8;
  border: 0;
  box-shadow: rgb(246,175,122) -2px 2px 5px, rgb(246,175,122) 2px -2px 5px;
  &::placeholder {
    color: #fb7200;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  input, button {
    margin-top: 5px;
  }
}
